*
{
    margin: 0;
    padding: 0;
}
html
{
    font-family: 'Rubik' , sans-serif;
}
nav
{
    font-size: 20px;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
}

h1
{
    font-size: 52px;
    margin-bottom: 32px;
}
p
{
    font-size: 20px;
    line-height: 1.6;
    margin-bottom: 48px;
}

.btn:link,
.btn:visited
{
font-size: 20px;
font-weight: 600;
background-color: #e67e22;
color: white;
text-decoration: none;
display: inline-block;
padding: 16px;
border-radius: 9px;
}

h2
{
    font-size: 44px;
    margin-bottom: 48px;
}
section
{
    padding: 96px 0;
    background-color: #f7f7f7 ;

}

.container
{
    margin: 0 auto;
    width: 1200px;
}

header
{
    height: 100vh;
    position: relative;
    background-image:linear-gradient(rgba(0, 0, 0, 0.067),rgba(0, 0, 0, 0.5)),url(hero.jpg);
    background-size: cover;
    color: white;
    padding-top: 25px;
}

.container-data
{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
   

}

.inner-con{
    width: 50%;
}